  <div class="col-md-8 popular">
    <h3 class="header__orange">人気</h3>
    <a class="popular-post" href="#">
      <%= image_tag 'colorfull.jpg', alt: 'sample', class: "post__thambnail" %>
      <div class="post__text">
        <h2>ブログ方アフィリエイトの完全講義</h2>
        <p>こんにちは、マナブです。ブログ歴は６年。ブログ収益は月600万。個人ブログのアクセスは「月間で170万回」です。</p>
        <div class="post__detail">
          <div class="post__price">¥14800</div>
          <div class="post__evaluation"></div>
          <div class="post__comment">37件</div>
        </div>
        <div class="post__footer">
          <div class="post__footer__left">
            <%= image_tag 'colorfull.jpg', alt: 'sample', width: '50px', height: '50px'%>
            <div class="user__info">
              <div class="divuser__info__name">マナブ</div>
              <div class="user__info__date">2日前</div>
            </div>
          </div>
          <div class="post__footer__right">
            <div class="post__category">ブログ・メディア運営</div>
          </div>
        </div>
      </div>
    </a>
  </div>