<!--ここからswiper-->
<div class="wrapper">
  <div class="swiper-container top-carousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag 'colorfull.jpg', alt: 'sample' %>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'redblock.jpg', alt: 'sample' %>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'colorfull.jpg', alt: 'sample' %>
      </div>
      
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
