<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "利用規約",   '#' %></li>
      <li><%= link_to "よくある質問", '#' %></li>
      <li><%= link_to "特商法表記", '#' %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
    </ul>
  </nav>
</footer>